body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto Slab', serif;
}

h1 {
  color: red;
}

nav, footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: lightblue;
}
nav {
  overflow: hidden;
  position: fixed;
  z-index: 9999;
  top: 0;
  font-family: 'Roboto', sans-serif;
}

nav p {
  padding: 10px;
}
nav ul, footer ul {
  list-style-type: none;
}

nav ul li, footer ul li {
  display: inline-block;
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  background: darkblue;
}
main {
  margin-top: 80px;
}

main {
  font-family: 'Roboto Slab', serif;
  width: 80%;
  margin: 80px auto 0;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

footer {
  display: flex;
}