body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto Slab', serif;
}

h1 {
  color: red;
}

nav, footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: lightblue;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
nav {
  overflow: hidden;
  position: fixed;
  z-index: 9999;
  top: 0;
}

nav img {
  width: 70px;
  height: 70px;
  margin-left: 30px;
}
nav > p {
  padding: 10px;
}
nav ul, footer ul {
  list-style-type: none;
  
}

nav ul li, footer ul li {
  display: inline-block;
  padding: 10px;
}

nav ul li:last-of-type, footer ul li:last-of-type {
  padding-right: 30px;
}
nav ul li a, footer ul li a  {
  text-decoration: none;
}

nav ul li a:hover, footer ul li a:hover {
  background: darkblue;
}
article>h1 {
  padding-top: 80px;
}

main {
  font-family: 'Roboto Slab', serif;
  width: 80%;
  margin: 80px auto 0;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
article p:first-of-type {
  font-weight: 700;
}
footer {
  display: flex;
}

em {
  color: red;
  font-style: normal;
}